::-moz-selection {
   background-color: rgba(158, 234, 0,0.5);
}
::selection {
    background-color: rgba(158, 234, 0, 0.5);
}

body {
	font-family: "Open Sans" !important;
	font-size: 11px !important;
	height: 100%;
	background-color:#f6f6f6 !important;
}
a {
	text-decoration: none;
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	color: #aaa !important;
	text-decoration: none !important;
}
.social-icons {
	padding-top: 10px;
	padding-bottom: 10px;
}
.social-icon {
	margin-right: 10px;
}
.sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	background-color: #2b2b2b;
	overflow-y: auto;
}
code {
	cursor: pointer;
}
ul#navigation {
	margin: 0;
}
ul#navigation > li {
    display: block;
    float: none;
    clear: both;
    text-align: left;
    background: #303030;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #2B2B2B;
    cursor: pointer;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
}

.current-page {
	background-color: #363636 !important;
}

ul#navigation > .current-page > a > .fa {
	border-left:5px solid white;
	color: white;
}

ul#navigation > .current-page > a > .fontawesome-text {
	color: white;
}

ul#navigation > li > a {
    color: #aaa;
    font-size: 14px;
    line-height: 45px;
    margin-left: 15px;
    display: block;
}

ul#navigation > li > a:hover {
    color: white !important;
}

ul#navigation > li > a > .fa {
    line-height: 45px;
    width: 50px;
    text-align: center;
    font-size: 27px;
    position: relative;
    left: -15px;
    vertical-align: middle;
}

ul#navigation > li > a > .fontawesome-text {
    padding-left: 5%;
    margin-left: -15px;
    line-height: 45px;
    display: inline-block;
    -webkit-box-shadow: -3px 0 5px -4px #000;
    box-shadow: -3px 0 5px -4px #000;
}

.box {
	/*
		if not collapsed
	*/
	margin-left: 250px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
	font-size: 20px;
}

.profile-image {
	border-radius: 50%;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 20px;
	padding-bottom: 10px;
}
.name {
	display: block;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	padding-bottom:10px;
}

.school {
	font-size: 18px;
	font-weight: 300;
	color: #aaa;
}

/* ul-timeline
 **************************************************/
ul.timeline {
	border-left: 8px solid #FFF;
	list-style: none;
	padding: 1px 0;
	margin-left: 100px;
}

ul.timeline li .date {
	float: left;
	padding: 10px 15px 10px 10px;
	margin-top: 10px;
	margin-left: -115px;
	font-size: 15px;
	width: 110px;
	text-align: center;
	background: rgba(158, 234, 0, 0.5);
	color: #fff;
}

/*ul.timeline li.open .data {
	background: #03bb7a;
}*/

ul.timeline li .circle {
	float: left;
	margin: 20px 0;
	margin-left: -14px;
	width: 20px;
	height: 20px;
	border: 4px solid #FFFFFF;
	border-radius: 10px;
	background-color: #d5d5d5;
}

ul.timeline li.open .circle {
	/*background-color: #03bb7a;*/
	-webkit-box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
}

ul.timeline li .data {
	background: #fdfdfd;
	margin: 10px 0px 10px 20px;
	border-left: 10px solid rgba(158, 234, 0, 0.5);
	padding: 18px 20px;
	font-size: 16px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
}

ul.timeline li.open .data {
	/*border-color: #03bb7a;*/
	background: #fff;
}

ul.timeline li .data .subject {
	cursor: pointer;
	color: #777;
	font-size: 18px;
}

ul.timeline li .data .text {
	display: block;
	margin-top: 15px;
	font-size: 14px;
	margin: 0px !important;
}

/* ul-withdetails
 **************************************************/
.ul-withdetails {
	list-style: none;
	padding: 0;
}

.ul-withdetails li {
	background-color: #FdFdFd;
	margin-bottom: 15px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
}

.ul-withdetails li .image {
	position: relative;
	overflow: hidden;
}

.ul-withdetails li .imageoverlay {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	/*background: #03cc85;*/
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;

	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}

.ul-withdetails li:hover .imageoverlay{
	left: 0;
}

.ul-withdetails li .imageoverlay i {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 45%;
	font-size: 30px;
}

.ul-withdetails li .meta {
	overflow: hidden;
	padding: 20px;
	cursor: pointer;
}
.ul-withdetails li.no-details .meta{cursor: inherit;}
.ul-withdetails li.no-details .imageoverlay{display: none;}
.ul-withdetails li .details {
	display: none;
	padding: 20px;
	background: #fff;

	-webkit-box-shadow: inset 0px 3px 5px -3px #ccc;
	box-shadow: inset 0px 3px 5px -3px #ccc;
}

blockquote {
    margin: 20px 0 !important;
    padding-left: 1.5rem !important;
    border-left: 5px solid rgba(158, 234, 0, 0.5) !important;
}