::-moz-selection {
   background-color: rgba(158, 234, 0,0.5);
}
::selection {
    background-color: rgba(158, 234, 0, 0.5);
}

body {
	font-family: "Open Sans" !important;
	font-size: 11px !important;
	background-color:#f6f6f6 !important;
	padding-left:3em !important;
	padding-right:3em !important;
}
.top {
	font-size:11px !important;
	font-weight:400 !important;
	font-style: normal !important;
	text-transform: uppercase !important;
	letter-spacing: 2px !important;
	height: 65px !important;
	padding-top:15px !important;
	padding-left:75px !important;
	padding-right:75px !important;
	text-align: center !important;
	line-height:1.9em !important;
	border-bottom:1px solid #e9e9e9 !important;
}
.top > ul {
	list-style-type: none !important;
	padding-left:0px !important;
}
.top > ul > li {
	display: inline-block !important;
	margin-top:15px !important;
	margin-right:1em !important;
}
.top > ul > li:hover {
	cursor:pointer;
	border-bottom:3px solid rgba(158, 234, 0, 0.5);
}
.introduction {
	padding-top:75px;
	padding-bottom:75px;
}
.introduction > .explanation {
	display:inline-block;
	vertical-align: top;
	margin-left:15px;
	width: 350px;
	height:298px;
	line-height: 30px;
	border:1px solid black;
}
.footer {
	font-size:11px !important;
	font-weight:400;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:75px;
	padding-right:75px;
	text-align: center;
	line-height:1.9em;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: black;
}
a:link {
	color: black;
}
img {
	vertical-align: initial !important;
}
.code_onhover {
	cursor: pointer;
}
#profile {
	text-align: middle;
}
.lead {
	text-align: center;
	color: #727878;
	font-size: 21px;
}
.leadsection {
	text-align: center;
	font-size: 12px;
}